nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    height: var(--sidebar-height);
    position: relative;
    transition: width 1s ease;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #dbdbdb;
}

    nav ::deep .nav-link {
        text-decoration: none;
    }

        nav ::deep .nav-link.active {
            background-color: #eef2ff;
        }

        nav ::deep .nav-link .nav-icon {
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            width: 2.75rem;
            display: flex;
            justify-content: center;
        }

@media (min-width: 992px) {
    nav {
        width: var(--sidebar-width);
        transition: width .2s ease;
    }

        nav.collapse:not(.show) {
            display: flex;
        }

        nav.narrow {
            --sidebar-width: 4rem;
            align-items: center;
        }

            nav.narrow ::deep .nav-text {
                display: none;
            }
}
