@using Beacon.Common.Laboratories.Requests;

<BeaconForm Model="Model" OnValidSubmit="Submit">
    <Modal>
        <div class="modal-body">
            <MyLaboratories Context="myLabs">
                @{
                    var myMembership = myLabs.FirstOrDefault(m => m.Laboratory.Id == MemberToUpdate.Laboratory.Id);
                }

                @if (myMembership?.MembershipType is not LaboratoryMembershipType.Admin and not LaboratoryMembershipType.Manager)
                {
                    <p class="text-danger">You do not have permission to update user memberships for this laboratory.</p>
                }
                else
                {
                    <div class="field">
                        <label class="form-label" for="member">Member</label>
                        <input class="form-control" id="member" readonly value="@MemberToUpdate.Member.DisplayName" />
                    </div>
                    <div class="field">
                        <label class="form-label" for="type">Membership Type</label>
                        <InputSelect class="form-select" @bind-Value="Model.MembershipType">
                            @foreach (var option in Enum.GetValues<LaboratoryMembershipType>())
                            {
                                <option value="@option" disabled="@IsDisabled(myMembership, option)">@option</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => Model.MembershipType" />
                    </div>
                }
                
            </MyLaboratories>
        </div>
        <footer class="modal-footer">
            <SubmitButton class="btn btn-primary">Update Membership</SubmitButton>
            <button class="btn btn-secondary" type="button" @onclick="() => Modal.CancelAsync()">Cancel</button>
        </footer>
    </Modal>
</BeaconForm>

@code {

    [Inject] private LabClient LabClient { get; set; } = null!;

    [CascadingParameter] private BlazoredModalInstance Modal { get; set; } = null!;

    [Parameter] public required LaboratoryMembershipDto MemberToUpdate { get; set; }

    private UpdateMembershipTypeRequest Model { get; set; } = new();

    protected override void OnParametersSet()
    {
        Model.MembershipType = MemberToUpdate.MembershipType;
    }

    private async Task Submit(BeaconForm form)
    {
        var result = await LabClient.UpdateMembershipType(MemberToUpdate.Laboratory.Id, MemberToUpdate.Member.Id, Model);

        if (result.IsError)
        {
            form.AddErrors(result.Errors);
            return;
        }

        await Modal.CloseAsync(ModalResult.Ok());
    }

    private bool IsDisabled(LaboratoryMembershipDto? myMembership, LaboratoryMembershipType targetType)
    {
        if (myMembership is null || myMembership.Member.Id == MemberToUpdate.Member.Id)
            return true;

        if (myMembership?.MembershipType is LaboratoryMembershipType.Admin)
            return false;

        if (myMembership?.MembershipType is not LaboratoryMembershipType.Manager)
            return true;

        return MemberToUpdate.MembershipType is LaboratoryMembershipType.Admin || targetType is LaboratoryMembershipType.Admin;
    }
}
