@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavManager
@inject ISender Sender

<button id="logout" type="button" @attributes="Attributes" @onclick="Logout">
    @ChildContent
</button>

@code {

    [Parameter(CaptureUnmatchedValues = true)] 
    public IDictionary<string, object?>? Attributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public async Task Logout()
    {
        var result = await Sender.Send(new LogoutRequest());

        if (!result.IsError)
            NavManager.NavigateToLogin("login");
    }
}