@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <main>
                <div class="top-row px-4">
                    <div class="ml-auto">
                        <span>Hello, @(context.User.Identity?.Name)!</span>
                        <LogoutButton class="btn btn-link ms-1">Logout</LogoutButton>
                    </div>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <NavigateTo Url="login" />
    </NotAuthorized>
    <Authorizing>
        <p>Authorizing...</p>
    </Authorizing>
</AuthorizeView>