@page "/laboratories/{Id}"
@attribute [Authorize]

<CurrentUserMemberships Context="Memberships">
    @if (Memberships.FirstOrDefault(m => m.LaboratoryId.ToString() == Id) is { } membership)
    {
        <h3 style="display: flex; align-items: center; gap: 0.5rem;">
            <div style="background-color: blue; color: white; border-radius: 8px; height: 2rem; width: 2rem; display: inline-flex; align-items: center; justify-content: center;">
                <div style="font-size: 1.5rem;">@membership.LaboratoryName.ToUpper()[0]</div>
            </div>
            <span>@membership.LaboratoryName</span>
        </h3>

        <hr />

        <p>Current lab members:</p>
        <LabMemberships LaboratoryId="membership.LaboratoryId" />
    }
    else
    {
        <RedirectTo Uri="" />
    }
</CurrentUserMemberships>

@code {

    [Parameter] public required string Id { get; set; }
}