@page "/laboratories/{Id}"
@attribute [Authorize]

<CurrentUserMemberships Context="Memberships">
    @if (Memberships.FirstOrDefault(m => m.LaboratoryId.ToString() == Id) is { } membership)
    {
        <p>Details page for @membership.LaboratoryName</p>
    }
    else
    {
        <RedirectTo Uri="" />
    }
</CurrentUserMemberships>

@code {

    [Parameter] public required string Id { get; set; }
}