@page "/laboratories/{Id:guid}"
@attribute [Authorize]
@layout LaboratoryLayout

<h3>@Details.Name</h3>

<div class="flex">
    <div class="flex-grow-1">
        <p>This is the laboratory details page.</p>
    </div>
    <div>
        <button type="button" class="btn btn-primary" @onclick="ShowInviteMemberModal">Invite Member</button>
    </div>
</div>

<dl>
    @foreach (var memberGroup in Details.Members)
    {
        <dt>@memberGroup.Key</dt>
        <dd>@memberGroup.Value.Length</dd>
    }
</dl>
