<SideNav>
    <CurrentLaboratory Context="lab">
        <div class="navbar-item">
            <NavLink class="nav-link" href="@NavigationHelper.GetLabDetailsHref(lab.Id)" Match="NavLinkMatch.All">
                <AvatarSquare Value="@lab.Name.ToUpper()[0]" FontSize="1rem" Size="1.5rem" />
                <span class="nav-text">@lab.Name</span>
            </NavLink>
        </div>
    </CurrentLaboratory>
</SideNav>